@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

ul {
  list-style-type: none;
}
a{
  text-decoration: none;
  color: #000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}
.container {
  max-width: 1260px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
/* header  */
.header {
  background: linear-gradient(90deg, rgb(245, 223, 25) 0%, rgb(60, 250, 2) 50%);
  padding-top: 20px;
  padding-bottom: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.header-logo {
  font-weight: bold;
  font-size: 40px;
}
.header-inner {
  display: flex;
justify-content: space-between;
  align-items: center;
}
.menyu {
  display: flex;
  align-items: center;
}
.header-item {
  color: #000;
}
.header-item:hover {
  color: rgb(50, 27, 203);
}
.header-item + .header-item{
  margin-left: 24px;
}
.header-next-link {
  color: #000;
}
.header-next-link:hover {
  color: rgb(50, 27, 203);
}
.header-next-link-one {
  border-right: 1px solid #000;
  margin-right: 8px;
  padding-right: 4px;
}
.header-item-next {
  padding: 7px;
  border-radius: 8px;
  border: #000 1px solid;
  margin-left: 30px;
}
#check {
  display: none;
  }
label #btn,
label #cancel {
  position: absolute;
  top: 6%;
  transform: translate(0, 50%);
  right: 10px;
  font-size: 40px;
  cursor: pointer;
  color: #fff;
  display: none;
}
header.sticky {
  background-color: rgb(0, 0, 139, 0.4);
}
@media only screen and (max-width: 1050px) {
  .header-logo {
    font-weight: bold;
    font-size: 40px;
    color: #fff;
  }
  .header-inner {
    display: flex;
  justify-content: space-between;
    align-items: center;
  }
  .menyu {
    display: flex;
    align-items: center;
    padding-top: 50px;
  }
  .header-item {
    color: rgb(255, 255, 255);
  }
  .header-item:hover {
    color: rgb(50, 27, 203);
  }
  .header-item + .header-item{
    margin-left: 0px;
    margin-top: 20px;
  }
  .header-next-link {
    color: rgb(255, 255, 255);
  }
  .header-next-link:hover {
    color: rgb(50, 27, 203);
  }
  .header-next-link-one {
    border-right: 1px solid rgb(255, 255, 255);
    margin-right: 8px;
    padding-right: 4px;
  }
  .header-item-next {
    padding: 7px;
    border-radius: 8px;
    border: rgb(255, 255, 255) 1px solid;
    margin-left: 0px;
  }
  label #btn {
    display: inline-block;
  }
  .menyu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 40%;
    height: 100vh;
    display: block;
    line-height: 40px;
    background: linear-gradient(90deg, rgb(245, 223, 25) 0%, rgb(60, 250, 2) 50%);    z-index: 100;
    transition: 0.5s;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #check:checked ~ .menyu {
    right: 0;
  }
    #check:checked ~ label #cancel {
      display: block;
      z-index: 101;
      color: rgb(251, 248, 248);
      right: 0;
    }
    #check:checked ~ label #btn {
     display: none;
     
    }
}
@media only screen and (max-width: 450px) {
  .header-logo {
    font-weight: bold;
    font-size: 30px;
    color: #fff;
  }
  .header-inner {
    display: flex;
  justify-content: space-between;
    align-items: center;
  }
  .menyu {
    display: flex;
    align-items: center;
    padding-top: 50px;
  }
  .header-item {
    color: rgb(255, 255, 255);
  }
  .header-item:hover {
    color: rgb(50, 27, 203);
  }
  .header-item + .header-item{
    margin-left: 0px;
    margin-top: 20px;
  }
  .header-next-link {
    color: rgb(255, 255, 255);
  }
  .header-next-link:hover {
    color: rgb(50, 27, 203);
  }
  .header-next-link-one {
    border-right: 1px solid rgb(255, 255, 255);
    margin-right: 6px;
    padding-right: 2px;
  }
  .header-item-next {
    padding: 4px;
    border-radius: 8px;
    border: rgb(255, 255, 255) 1px solid;
    margin-left: 0px;
  }
  label #btn {
    display: inline-block;
  }
  .menyu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 40%;
    height: 100vh;
    display: block;
    line-height: 40px;
    background: linear-gradient(90deg, rgb(245, 223, 25) 0%, rgb(60, 250, 2) 50%);    z-index: 100;
    transition: 0.5s;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
  }
  #check:checked ~ .menyu {
    right: 0;
  }
    #check:checked ~ label #cancel {
      display: block;
      z-index: 101;
      color: rgb(251, 248, 248);
      right: 0;
    }
    #check:checked ~ label #btn {
     display: none;
    }
}
/* header*/
/* hero  */
.hero {
  margin-top: 60px;
  background-image: url(../img/hero-bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}
.hero-inner {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-p {
  background-size: 20px;
  font-weight: normal;
  color: aliceblue;
}
.hero-paragraph {
  font-size: 60px;
  font-weight: bold;
  color: aliceblue;
}
.hero-text {
  font-size: 30px;
  color: aliceblue;
}
.hero-box {
  height: 30px;
  overflow: hidden;
  margin-top: 30px;
}
.hero-box-text {
  color: rgb(60, 250, 2);
  font-weight: bold;
  font-size: 30px;
}
.hero-box-text:nth-child(1) {
  animation: text-move 7s infinite;
}
@keyframes text-move {
  0% {
    margin-top: 0px;
  }
  20% {
    margin-top: -50px;
  }
  40% {
    margin-top: -100px;
  }
  60% {
    margin-top: -90px;
  }
  80% {
    margin-top: -50px;
  }
  100% {
    margin-top: -10px;
  }
}
@media only screen and (max-width: 500px) {
  .hero-inner {
    padding-top: 70px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero-p {
    background-size: 20px;
    font-weight: normal;
    color: aliceblue;
  }
  .hero-paragraph {
    font-size: 30px;
    font-weight: bold;
    color: aliceblue;
  }
  .hero-text {
    font-size: 24px;
    color: aliceblue;
  }
  .hero-box {
    height: 30px;
    overflow: hidden;
    margin-top: 30px;
  }
  .hero-box-text {
    color: rgb(60, 250, 2);
    font-weight: bold;
    font-size: 20px;
  }
  .hero-box-text:nth-child(1) {
    animation: text-move 7s infinite;
  }
  @keyframes text-move {
    0% {
      margin-top: 0px;
    }
    20% {
      margin-top: -40px;
    }
    40% {
      margin-top: -60px;
    }
    60% {
      margin-top: -60px;
    }
    80% {
      margin-top: -40px;
    }
    100% {
      margin-top: 0px;
    }
  }
}
/* hero  */
/* product  */
.product-inner {
padding-top: 100px;
padding-bottom: 100px;
}
.product-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.products {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: #444444;
  background: #FFFFFF;
  text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
  margin-bottom: 50px;
}
.product-card {
  z-index: -1;
  padding: 50px;
  border: 1px solid rgb(206, 199, 199);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 10px 10px 15px rgba(208, 196, 196, 0.2); 
}
.product-card:hover {
  background-color: rgb(251, 247, 247);
  box-shadow: 0 10px 10px 15px rgba(135, 130, 130, 0.2); 
}
.product-card + .product-card {
  margin-left: 40px;
}
.product-p {
  font-size: 26px;
  font-weight: normal;
  margin-top: 20px;
}
@media only screen and (max-width: 730px) {
  .product-inner {
    padding-top: 60px;
    padding-bottom: 60px;
    }
    .product-box {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    .products {
      font-size: 30px;
      font-weight: bold;
      text-align: center;
      color: #444444;
      background: #FFFFFF;
      text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
      margin-bottom: 30px;
    }
    .product-card {
      width: 80%;
      padding: 50px;
      border: 1px solid rgb(206, 199, 199);
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 8px;
      box-shadow: 0 10px 10px 15px rgba(208, 196, 196, 0.2); 
    }
    .product-card:hover {
      background-color: rgb(251, 247, 247);
      box-shadow: 0 10px 10px 15px rgba(135, 130, 130, 0.2); 
    }
    .product-card + .product-card {
      margin-left: 0px;
      margin-top: 30px;
    }
    .product-p {
      font-size: 22px;
      font-weight: normal;
      margin-top: 20px;
    }
}
@media only screen and (max-width: 450px) {
  .product-inner {
    padding-top: 60px;
    padding-bottom: 60px;
    }
    .product-box {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    .products {
      font-size: 30px;
      font-weight: bold;
      text-align: center;
      color: #444444;
      background: #FFFFFF;
      text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
      margin-bottom: 30px;
    }
    .product-card {
      width: 95%;
      padding: 50px;
      border: 1px solid rgb(206, 199, 199);
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 8px;
      box-shadow: 0 10px 10px 15px rgba(208, 196, 196, 0.2); 
    }
    .product-img {
      width: 60px;
      height: 60px;
    }
    .product-card:hover {
      background-color: rgb(251, 247, 247);
      box-shadow: 0 10px 10px 15px rgba(135, 130, 130, 0.2); 
    }
    .product-card + .product-card {
      margin-left: 0px;
      margin-top: 30px;
    }
    .product-p {
      font-size: 22px;
      font-weight: normal;
      margin-top: 20px;
    }
}
/* product  */
/* services  */
.services {
  background: linear-gradient(90deg, rgb(245, 223, 25) 0%, rgb(60, 250, 2) 50%);
}
.services-inner {
  padding-top: 50px;
  padding-bottom: 50px;
}
.services-paragraph {
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}
.services-card {
  font-size: 22px;
  color: #fff;
  max-width: 600px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 600px) {
  .services-inner {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .services-paragraph {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
  }
  .services-card {
    font-size: 18px;
    color: #fff;
    max-width: 600px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}
/* services  */
/* founder  */
.founder-inner {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.founder-paragraph {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: #444444;
  background: #FFFFFF;
  text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
  margin-bottom: 50px;
}
.founder-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}
.founder-name {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 15px;
}
.founder-card {
  width: 40%;
  box-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
  z-index: -1;
}
.founder-img {
  width: 100%;
  height: auto;
  object-fit: fill;
}
.founder-mini {
  padding: 30px;
}
.founder-btn {
  border: #000 1px solid;
  border-radius: 8px;
  padding: 8px 16px;
  margin-left: auto;
  margin-right: auto;
}
.founder-btn:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
@media only screen and (max-width: 1050px) {
  .founder-inner {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .founder-paragraph {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #444444;
    background: #FFFFFF;
    text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
    margin-bottom: 40px;
  }
  .founder-box {
    display: flex;
    align-items: center;
   flex-direction: column;
    margin-bottom: 40px;
  }
  .founder-name {
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 15px;
  }
  .founder-card {
    width: 80%;
    box-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
    z-index: -1;
  }
  .founder-card + .founder-card {
    margin-top: 50px;
  }
  .founder-img {
    width: 100%;
    height: auto;
    object-fit: fill;
  }
  .founder-mini {
    padding: 30px;
  }
  .founder-btn {
    border: #000 1px solid;
    border-radius: 8px;
    padding: 8px 16px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* founder  */
/* location  */
.contact-inner {
padding-top: 100px;
padding-bottom: 100px;
display: flex;
flex-direction: column;
align-items: center;
}
.contact-paragraph {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: #444444;
  text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
  margin-bottom: 50px;
  z-index: -1;
}
.contact-paragraph {
  animation: infinite my-text 2s;
}
@keyframes my-text {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.2);
  }
  90% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.contact-box {
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.contact-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  box-shadow: 0 10px 10px 15px rgba(208, 196, 196, 0.2); 
  border-radius: 8px;
}
.contact-card:hover {
  transform: scale(1.2);
  box-shadow: 0 10px 10px 15px rgba(128, 124, 124, 0.2); 
}
.contact-card + .contact-card {
  margin-left: 70px;
}
.contact-name {
  font-size: 30px;
  font-weight: bold;
  margin-top: 10px;
}
@media only screen and (max-width: 900px) {
  .contact-inner {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    .contact-paragraph {
      font-size: 30px;
      font-weight: bold;
      text-align: center;
      color: #444444;
      text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
      margin-bottom: 50px;
      z-index: -1;
    }
    .contact-paragraph {
      animation: infinite my-text 2s;
    }
    @keyframes my-text {
      0% {
        transform: scale(1);
      }
      20% {
        transform: scale(1.2);
      }
      50% {
        transform: scale(1);
      }
      70% {
        transform: scale(1.2);
      }
      90% {
        transform: scale(1.2);
      }
      100% {
        transform: scale(1);
      }
    }
    .contact-box {
      display: flex;
      flex-direction: column;
      align-items: center;
    
    }
    .contact-card {
      width: 200%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 40px;
      box-shadow: 0 10px 10px 15px rgba(208, 196, 196, 0.2); 
      border-radius: 8px;
    }
    .contact-card:hover {
      transform: scale(1.2);
      box-shadow: 0 10px 10px 15px rgba(128, 124, 124, 0.2); 
    }
    .contact-card + .contact-card {
      margin-left: 0px;
      margin-top: 30px;
    }
    .contact-name {
      font-size: 30px;
      font-weight: bold;
      margin-top: 10px;
    }
}
@media only screen and (max-width: 510px) {
  .contact-inner {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    .contact-paragraph {
      font-size: 30px;
      font-weight: bold;
      text-align: center;
      color: #444444;
      text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
      margin-bottom: 50px;
      z-index: -1;
    }
    .contact-paragraph {
      animation: infinite my-text 2s;
    }
    @keyframes my-text {
      0% {
        transform: scale(1);
      }
      20% {
        transform: scale(1.2);
      }
      50% {
        transform: scale(1);
      }
      70% {
        transform: scale(1.2);
      }
      90% {
        transform: scale(1.2);
      }
      100% {
        transform: scale(1);
      }
    }
    .contact-box {
      display: flex;
      flex-direction: column;
      align-items: center;
    
    }
    .contact-card {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 40px;
      box-shadow: 0 10px 10px 15px rgba(208, 196, 196, 0.2); 
      border-radius: 8px;
    }
    .contact-card:hover {
      transform: scale(1.2);
      box-shadow: 0 10px 10px 15px rgba(128, 124, 124, 0.2); 
    }
    .contact-card + .contact-card {
      margin-left: 0px;
      margin-top: 30px;
    }
    .contact-name {
      font-size: 20px;
      font-weight: bold;
      margin-top: 10px;
    }
}
/* location  */
/* footer  */
.footer {

  background: linear-gradient(90deg, rgb(245, 223, 25) 0%, rgb(60, 250, 2) 50%);
}
.footer-inner {
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer-paragraph {
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
.friends-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.friends-item + .friends-item {
  margin-left: 30px;
}
@media only screen and (max-width: 1050px) {
  .footer-inner {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .footer-paragraph {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #fff;
  }
  .friends-list {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .friends-item + .friends-item {
    margin-left: 30px;
  }
}
@media only screen and (max-width: 450px) {
  .footer-inner {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .footer-paragraph {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #fff;
  }
  .friends-list {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .friends-item + .friends-item {
    margin-left: 20px;
  }
}
/* footer  */